<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-GL5TDF3NCH"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-GL5TDF3NCH');
    </script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>iSmart</title>
    <!-- <link rel="stylesheet" href="{% static 'css/carl.css' %}"> -->
    <link rel="stylesheet" href="{% static 'css/xgs.css' %}">
    <link rel="stylesheet" href="{% static 'css/earthing.css' %}">
    <link rel="stylesheet" href="{% static 'css/ismart.css' %}">
    <link rel="stylesheet" href="{% static 'css/ind.css' %}">
    <link rel="stylesheet" href="{% static 'css/asp.css' %}">
    <link rel="stylesheet" href="{% static 'css/software.css' %}">
    <link rel="stylesheet" href="{% static 'css/services.css' %}">
    <link rel="stylesheet" href="{% static 'css/neplan.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="icon" href="{% static 'images/logo1.png' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
        integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
        integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="{% static 'lib/ionicons/css/ionicons.min.css' %}" rel="stylesheet">
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="lib/lightbox/css/lightbox.min.css" rel="stylesheet">
    <script src="{% static 'js/main.js' %}"></script>
    <script src="{% static 'js/software.js' %}"></script>
    <script src="{% static 'js/carl.js' %}"></script>
    <script src="{% static 'js/xgs.js' %}"></script>
    <script src="{% static 'js/ind.js' %}"></script>
    <script src="{% static 'js/earthing.js' %}"></script>
    <script src="{% static 'js/power-cable-acc.js' %}"></script>
    <script src="{% static 'js/power-cable-acc2.js' %}"></script>
    <script src="{% static 'js/health2.js' %}"></script>
</head>

<body>
    {% include 'header.html' %}
    <div class="back-power-cable-acc reveal">
        <div class="home-section-text">
            <img src="../static/images/ismart/logo2.png" width="300px" height="90px">
            <p><b>presents</b></p>
            <h1>iSmart</h1>
            <h2><b>International Quiz</b></h2>
            <h2><b>Competition</b></h2>
            <h3><b>2025</b></h3>
        </div>
        <div class="home-section-img"> 
            <img src="../static/images/ismart/home.png" alt="img" />
        </div>
        
    </div>

    <!-- organized by section -->

    <div class="container-fluid reveal" id="organize-by-outer">
        <div class="organized-div1">
            <h1>Organised by <br><span style="color: blue;"><b>iEngineering Group</b></span></h1>
            
            <img src="../static/images/ismart/3.png" width="65%" height="45%" alt="img"/>
        </div>
        <div class="organized-div2" >
            <img src="../static/images/ismart/4.png" width="65%" height="45%" alt="img"/>
            <br>
            <br>
            <p><b>Welcome to the official page of the iSmart Quiz Competition – an annual event proudly conducted by iEngineering Group for the past five years. This competition is designed to challenge, engage, and celebrate the brightest engineering minds across Oceania, Australia, and Asia-Pacific regions.</b></p>
        </div>
    </div>

    <!-- what is  quiz section -->

    <div class="container-fluid reveal" id="what-is-ismart-outer">
        <h1>&#129504; What is the <span class="highlight">iSmart Quiz</span></h1>
        <div class="what-is-ismart-outer-para">
            <b>The <span class="highlight">iSmart Quiz</span> is an exciting and highly educational competition that tests students' knowledge in a range of Engineering and Science disciplines. It aims to encourage academic excellence, critical thinking, and international participation in a friendly yet competitive environment.</b>
        </div>
    </div>


   <!-- Quiz Round Section -->
<div class="container-fluid reveal" id="quiz-round">
  <h1 class="section-heading">📆 Competition Format & Key Dates</h1>

  <div class="quiz-round-wrapper">
    <!-- Round 1 -->
    <div class="card" id="quiz-round-card">
      <div class="card-body" id="quiz-round-card-body">
        <h2><b>ROUND 1:</b></h2>
        <p>📍 Online Format</p>
        <p>📆 Scheduled around 25th August 2025</p>
        <p>💡 Open to all eligible students with free registration</p>
        <div class="d-flex justify-content-start">
          <button type="button" id="register-btn-quiz-round" class="btn btn-primary">Register</button>
        </div>
      </div>
    </div>

    <!-- Round 2 -->
    <div class="card" id="quiz-round-card">
      <div class="card-body" id="quiz-round-card-body">
        <h2><b>ROUND 2:</b></h2>
        <p>📍 Proctored Online Exam</p>
        <p>📆 Will be held around late September 2025</p>
        <p>📝 Date to be confirmed after Round 1 and updated on this website</p>
        <p>🧑‍🎓 List of qualifying students will be published online</p>
        <div class="d-flex justify-content-start">
          <button type="button" id="register-btn-quiz-round" class="btn btn-primary">Register</button>
        </div>
      </div>
    </div>

    <!-- Round 3 -->
    <div class="card" id="quiz-round-card">
      <div class="card-body" id="quiz-round-card-body">
        <h2><b>ROUND 3:</b></h2>
        <p>👨‍🏫 One-on-One round with Organisers will be held with Top 3 Selected Candidates</p>
        <div class="d-flex justify-content-start">
          <button type="button" id="register-btn-quiz-round" class="btn btn-primary">Register</button>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- prize and recognition  -->

    <div class="container-fluid prize-section-outer reveal">
        <div class="prize-section-img">
            <img src="../static/images/ismart/trophyh.png" width="450px" height="500px">
        </div>
        <div class="prize-section-text" >
            <h1 class="">&#x1F3C6; Prizes & Recognition</h1>
            <br>
            <ul>
                <li>&#x1F947; 1st Place: Trophy + Certificate + Cash Prize</li>
                <li>&#x1F948; &#x1F949;2nd & 3rd Place: Certificates + Cash Prizes</li>
                <li>&#x1F4B0; Total Prize Pool: AUD $2,000</li>
            </ul>
            <p><b>All participants gain valuable exposure, and top performers will be recognized for their academic excellence.</b></p>
            <br>
            <br>     
            <div class="d-flex justify-content-start">
                <button type="button" id="register-btn-price" class="btn btn-primary">Register Now</button>
            </div>

        </div>
    </div>


<!-- winner section -->
  
    <div class="container-fluid reveal" style="background-color: #dcb8c2;">
        <h1 class="section-heading">&#x1F4F8; Highlights From Past Years</h1>
        <p style="color: rgb(0, 0, 0); text-align: center; font-size: 15px;">Over the past four years, the iSmart Quiz Competition has welcomed hundreds of engineering students from across Australia, Oceania, and the Asia-Pacific region. Every year, we have witnessed outstanding talent, innovation, and a strong spirit of learning.</p>

        <div class="winnner-section-inner">

            <div class="card">
                <img src="../static/images/ismart/Kaveet  Naiker photo.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h2 class="card-title">2021</h2>
                    <p class="card-text">1st Kaveet Naiker from Fiji</p>
                    
                </div>
            </div>


            <div class="card"  id="card2">
                <img src="../static/images/ismart/IMG_20221122_220221.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h3 class="card-title">2022</h3>
                    <p class="card-text">1st TanyanRu from Phillipines</p>
                    
                </div>
            </div>

            <div class="card" id="card2">
            <img src="../static/images/ismart/apurbo.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h3 class="card-title">2023</h3>
                    <p class="card-text">1st Apurbo Kumar from India</p>
                    
                </div>
            </div>

            <div class="card"  id="card2" >
            <img src="../static/images/ismart/Rachit Bansal 1.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h3 class="card-title">2024</h3>
                    <p class="card-text">1st Rachit Bansal from India</p>
                    
                </div>
            </div>

            <div class="card" id="card2">
            <img src="../static/images/ismart/next winnner.png" class="card-img-top" alt="..." style="border: 1px solid black;">
                <div class="card-body">
                    <h3 class="card-title">2025</h3>
                    <p class="card-text">Who knows it might be you?</p>
                    
                </div>
            </div>
            
        </div>
            <h1 style="color: rgb(1, 1, 1); text-align: center; font-size: 40px; padding-top: 10px; ">Champions of Champions ! </h1>
            <div class="d-flex justify-content-center">
                <button type="button" id="register-btn" class="btn btn-primary">Register Now</button>
            </div>
        </div>
    </div>


     <!-- who can participate section -->

    <div class="container-fluid reveal" id="participate">
        <h1>✅ Who Can Participate?</h1>
        <div class="participate-content-wrapper">

            <div class="participate-div1">
                <div class="participate-div1-parent">
                    <div class="participate-div1-child"> 📚 Students currently enrolled in engineering courses (undergraduate or postgraduate)</div>
                    <div class="participate-div1-child">🌍 Open to students from Australia, Oceania, and Asia-Pacific countries</div>
                    <div class="participate-div1-child">💵 No registration fees – participation is 100% free</div>
                    <p>Loading...</p>
                </div>
            </div>
            <div class="participate-div2">
                <img src="../static/images/ismart/part.png" width="500px" height="550px">
            </div>
        </div>
    </div>

    <!-- fairness section -->

    <div class="container-fluid fairness-section-outer reveal">
        <div class="fairness-section-img">
            <img src="../static/images/ismart/fairness.png" width="450px" height="500px">
        </div>
        <div class="fairness-section-text" >
            <h1>&#128272; Fairness & Integrity</h1>
            <br>
            <ul>
                <li>Round 1 will be conducted online under timed conditions</li>
                <li>Round 2 will be proctored online to ensure fairness and authenticity</li>
                <li>Strict guidelines and technical monitoring will be followed</li>
            </ul>
            
            <br>
            <br>     
            <div class="d-flex justify-content-start" style="margin-top: 30px;">
                <button type="button" id="register-btn" class="btn btn-primary">Register Now</button>
            </div>

        </div>
    </div>


    <!-- stay updated section -->

<div class="container-fluid reveal" id="stay-updated-outer">
  <img src="../static/images/ismart/oicon.png" alt="Stay Updated Icon" />
  <h1><b>Stay Updated</b></h1>
</div>


    <!-- _______________________________________________________________________________________________ -->
    
    <div class="container-fluid reveal" id="inquires">
        <h5>All official announcements, round dates, and qualified students’ names will be regularly published on this page. Please bookmark and revisit for the latest updates.</h5>
        <p>📧 For queries or partnership inquiries, contact us at: kushankur@iengaust.com.au</p>
       
    </div>

    <!-- sponsor section -->

    <div class="container-fluid reveal" id="sponsor-img">
        <p><b>www.ismartquiz.com.au</b></p>
       
    </div>

    <div class="container-fluid reveal" id="support">
        <h1>🤝 Sponsors & Partners</h1>
        <p>
            If you're a sponsor or educational institution interested in supporting future engineering talent, we’d love to hear from you.
            Partner with us to empower the next generation of innovators!
        </p>
        <div class="d-flex justify-content-center">
            <button type="button" id="register-btn-support" class="btn btn-primary">Register Now</button>
        </div>
    </div>

    <div>
        <div class="clients mt-100">
        <div class="container">
            <div class="section-header">
                <h2>Our Clients</h2>
                <!-- <p>
                    We don't just build softwares, we build your business.
                </p> -->
            </div>
            <div class="owl-carousel clients-carousel">
                <img src="./images/image.png" alt="Client Logo">
                <img src="./images/image.png" alt="Client Logo">
                <img src="./images/image.png" alt="Client Logo">
                <img src="./images/image.png" alt="Client Logo">
                <img src="./images/image.png" alt="Client Logo">
                <img src="./images/image.png" alt="Client Logo">
                <img src="./images/image.png" alt="Client Logo">
                <img src="./images/image.png" alt="Client Logo">
            </div>
        </div>
    </div>
    </div>



    <script src="script.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
        crossorigin="anonymous"></script>
    <a href="#" class="back-to-top"><i class="ion-ios-arrow-up"></i></a>
    <script src="lib/jquery/jquery.min.js"></script>
    <script src="lib/jquery/jquery-migrate.min.js"></script>
    <script src="lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/waypoints/waypoints.min.js"></script>
    <script src="lib/counterup/counterup.min.js"></script>
    <script src="lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="lib/lightbox/js/lightbox.min.js"></script>
    {% include 'footer.html' %}

    <a href="#" class="back-to-top"><i class="ion-ios-arrow-up"></i></a>
</body>

</html>